<div class="container">
  <div class="row">
    <div class="col-5">
      <form [formGroup]="tourForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="price">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="mb-3">
          <label for="price">Price</label>
          <input type="number" class="form-control" id="price" formControlName="price">
        </div>
        <div class="mb-3">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" formControlName="description"></textarea>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary mr-3">Create</button>
          <button type="button" (click)="goBack()" class="btn btn-secondary">Back</button>
        </div>
      </form>
    </div>
  </div>
</div>
