<div class="container">
  <div class="col-5">
    <form [formGroup]="deleteForm" (ngSubmit)="onDelete()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" formControlName="price">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" formControlName="description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Delete</button>
    </form>
  </div>
</div>
